@model IEnumerable<WebStoreAppCore.Models.LaptopProperties>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScreenSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CameraPropertry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Battery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModeNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FingerPrint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterResist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HardType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HardStorage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genaration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraProperty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CameraPropertry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Battery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FingerPrint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterResist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Processor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HardType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HardStorage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genaration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraProperty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
