@model WebstoreAppCore.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdDescrp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdDescrp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prodprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prodprice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductAvailableLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductAvailableLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand.BrandId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cat.CatId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProdId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
