@model WebStoreAppCore.Models.ErrorTb

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ErrorTb</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrPageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrPageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrDetails)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ErrId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
