@model WebStoreAppCore.Models.MobileProperties

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MobileProperties</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CameraPropertry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CameraPropertry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Battery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Battery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FingerPrint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FingerPrint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterResist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterResist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatingSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Storage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Storage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraProperty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraProperty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
